<h2>О нас</h2>
<p>Услуги в наших парикмахерских салонах выполняются в строгом соответствии с внутренними стандартами обслуживания,
  технологического процесса и сервиса. Все мастера нашей сети обучались и проходили переподготовку в CBS technology</p>
